@use "../../../../lib/scss/colors";

article {
  position: relative;
  border-radius: 1rem;
  border: 1px solid colors.$cafe-noir;
  padding: 2em 3em;
  margin: 1rem;

  transition: all 150ms ease-out;
  max-height: 500px;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: colors.$gradient-top-right;
    opacity: 0;
    z-index: -1;
    border-radius: 1rem;

    transition: opacity 150ms ease-out;
  }

  &:hover,
  &:focus-visible {
    color: colors.$magnolia;
    z-index: 1;
    box-shadow: 1px 1px 14px 1px rgba(0 0 0 / 0.2);
    border-color: transparent;

    & .ButtonIcon {
      animation: slide 900ms linear infinite;
    }

    & .CardButton {
      background-color: colors.$raisin-black;
      box-shadow: 1px 1px 14px 1px rgba(0 0 0 / 0.4);
    }

    &::before {
      opacity: 100%;
    }
  }

  @media only screen and (width > 500px) {
    &:hover,
    &:focus-visible {
      margin-left: 8%;
      & .CardButton {
        scale: 1.2;
      }
    }
  }

  @media only screen and (width > 900px) {
    &:hover,
    &:focus-visible {
      margin-left: 1rem;
    }
  }
}

.CardButton {
  font-size: 1.15em;
  padding: 0.75em 1em;
  display: block;
  margin-left: auto;
}

.ButtonIcon {
  margin-left: 0.5em;
  margin-right: 0.25em;
}

@keyframes slide {
  0% {
    margin-right: 0.25em;
    margin-left: 0.5em;
  }

  25% {
    margin-right: 0em;
    margin-left: 0.75em;
  }

  50% {
    margin-right: -0.25em;
    margin-left: 1em;
  }

  75% {
    margin-right: 0em;
    margin-left: 0.75em;
  }

  100% {
    margin-right: 0.25em;
    margin-left: 0.5em;
  }
}
